main{
    display: flex;
}

.field{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: whitesmoke;
}

.divPerfil{
    width: 20%;
    background-color: #142348;
    min-height: 100%;
    position: fixed;
}


.iconPerfil > img{
    width: 100%;
    height: 100%;
}

.descricao{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.descricao > h2{
    color: #3DC8DF;
}

.descricao > h3{
    color: #3DC8DF;
}

.descricao > p{
    color: white;
    text-align: justify;
    margin-bottom: 3%;
}

.redesSociais{
    display: flex;
    
}

.redesSociais > button{
    margin-left: 3%;
}

/* field */

.field{
    margin-top: 3%;
}

/* .field > .post > input{
    background-color: whitesmoke;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    min-height: 40px;
    
} */


.field > .post > textarea{
    background-color: whitesmoke;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    border: none;
    
}

.post{
    display: flex;
    border-style: solid;
    border-radius: 7px;
    border-color: blue;
}

.post > button{
    background-color:#1174f7;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 7px;
}

.posts{
    margin-top: 3%;
}

.personalInfo{
    display: flex;
}

.UserIMGPost > img{
    width: 50px;
    height: 50px;
}
