main{
    display: flex;
}

.field{
    width: 80%;
    margin-left: auto;
}

.divPerfil{
    width: 20%;
    background-color: #142348;
    min-height: 100%;
    position: fixed;
}


.iconPerfil > img{
    width: 100%;
    height: 100%;
}

.descricao{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.descricao > h2{
    color: #3DC8DF;
}

.descricao > h3{
    color: #3DC8DF;
}

.descricao > p{
    color: white;
    text-align: justify;
    margin-bottom: 3%;
}

.redesSociais{
    display: flex;
    
}

.redesSociais > button{
    margin-left: 3%;
}

/* field */

.field{
    margin-top: 3%;
}

.field > .post > input{
    background-color: whitesmoke;
    width: 50%;
}